* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Monteserrat', sans-serif;
}

img {
  width: 30px;
}

.hidden {
  display: none !important;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form {
  padding: 30px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  color: white;
}

#form h1 {
  margin-bottom: 10px;
  color: white;
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(63, 148, 245);
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border: none;
}

input {
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.error {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.5rem;
  color: aliceblue;
}

.loading {
  color: aliceblue;
}

.searchGrid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-solid {
  width: 40px;
}

/* weather data shown:  */

body.has-weather {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

body.has-weather #form {
  display: flex;
  width: 100vw;
  border-radius: 0%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 14px;
}

body.has-weather .logo {
  color: white;
  margin-right: auto;
}

body.has-weather .toggleUnit {
  margin-left: 10px;
}
